$font-stack: itc-avant-garde-gothic-pro, sans-serif;

.main-section {
  font-family: $font-stack;
  padding-top: 1.5rem;
  display: flex;
  .cactus-info {
    .cactus-title {
      font-weight: bold;
      font-size: 1.75rem;
    }
    width: 100%;

    padding-left: 1rem;
    .title-border {
      border-bottom: 1px solid #9e9e9e;
      border-bottom-width: 100%;
      padding-bottom: 0.25rem;
    }
    .size-style {
      display: block;
      font-weight: bold;
      font-size: 0.8rem;
      padding-top: 0.25rem;
    }
    .size-icon-style {
      background-color: #f3f4f3;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.25rem 0;
      cursor: pointer;
    }
    .order-space {
      margin-top: 0.25rem;
      display: flex;
      justify-content: space-between;
    }
    .order-title-cactus {
      font-weight: bold;
      font-size: 1rem;
    }
    .order-price-cactus {
      font-size: 1rem;
      color: #00c189;
      font-weight: 600;
    }
    .pot-style {
      text-decoration: underline;
      font-size: 0.7rem;
      cursor: pointer;
    }
    .pot-style-whitespace {
      margin: 0.75rem 0;
    }
    .remove-cactus {
      background-color: #f3f4f3;
      font-size: 1rem;
      border: none;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      text-align: center;
      cursor: pointer;
      transition: 0.5s ease;
      &:hover {
        color: white;
        background-color: #00c189;
      }
    }
    .add-cactus {
      background-color: #f3f4f3;
      font-size: 1rem;
      border: none;
      border-radius: 50%;
      text-align: center;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      transition: 0.5s ease;
      &:hover {
        color: white;
        background-color: #00c189;
      }
    }
    .cactus-state {
      font-size: 0.9rem;
      font-weight: bold;
    }
    .order-features {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 40%;
    }
    .total-price-section {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      padding: 0.5rem 0;
      border-bottom: 1px solid #9e9e9e;
      border-bottom-width: 100%;
    }
    .cart-section {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0.5rem 0;
      .heart-icon {
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
      .button-card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00c189;
        color: white;
        padding: 8px 20px;
        border-radius: 9999px;
        border: none;
        cursor: pointer;
        span {
          margin-left: 0.5rem;
        }
        svg {
          font-size: 1rem;
        }
      }
    }
  }
}
