$font-stack: itc-avant-garde-gothic-pro, sans-serif;

.footer-container {
  margin-top: 3rem;
  font-family: $font-stack;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(34, 34, 34, 0.4);
  a {
    text-decoration: none;
    color: rgba(34, 34, 34, 0.4);
  }
  img {
    padding: 0rem 2rem;
  }
  .flex-position {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    margin: 0;
    padding: 0.5rem;
  }
}
