.form-container {
  padding-top: 3rem;
  width: 480px;
  height: 750px;
  margin: auto;

  .errorMsg {
    color: red;
  }
  h2 {
    text-align: center;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    color: rgb(64, 54, 54);
    font-weight: 400;
    opacity: 0.8;
    padding-bottom: 2rem;
  }
  .form-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .input-style {
      background-color: rgba(34, 34, 34, 0.1);
      border: none;
      width: 100%;
      border-radius: 50px;
      padding: 15px 20px;
      outline: none;
      color: black;
    }
    .input-text-style {
      background-color: rgba(34, 34, 34, 0.1);
      border: none;
      width: 100%;
      border-radius: 20px;
      padding: 15px 20px;
      outline: none;
      color: black;
      height: 240px;
    }
    input[type='submit'] {
      text-decoration: none;
      text-transform: uppercase;
      border: 2px solid rgb(0, 193, 137);
      padding: 22px 20px;
      margin-top: 3rem;
      width: 150px;
      height: 60px;

      &:hover {
        background-color: rgb(0, 193, 137);
        color: white;
        transition: background-color 0.5s ease, color 0.5s ease;
      }
    }
  }
}
