.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efeff0;
  width: 900px;
  height: 40px;
  text-align: center;
}

span {
  color: #00c189;
  text-transform: uppercase;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  margin: 0px 4px;
  font-weight: 600;
  letter-spacing: 2.5px;
}
